.post-like-button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    cursor: pointer;
}

.post-like-text {
    color: gray;
    cursor: pointer;
}

.post-like-button.liked {
    color: #0A66C2;
  }

  .post-like-text.liked-text {
    color: #0A66C2;
  }
