.edit-comment-container {
    height: 20rem;
    width: 25rem
}

.edit-comment-profile-image {
    height: 100px;
    width: 150px;
}

.edit-comment-errors {
    font-weight: bold;
    color: red;
    font-size: 15px;
}

.edit-comment-form-container {
    display: flex;
    flex-direction: column;
}
