.all-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-post {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 10rem
}

.post-profile-picture {
    height: 3rem;
    width: 3rem;
    border-radius: 4rem;
    object-fit: cover
}

.all-posts-image {
    width: 50%;
    margin-bottom: 2rem;
}

.post-profile-image {
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
}
