.all-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-post {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 10rem
}

.all-posts-image {
    width: 50%;
    margin-bottom: 2rem;
}
