.splash-page-bigger-container {
    display: flex;
    flex-direction: column;
}

.splash-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-left: 5rem;
}

.splash-login-sign-up-button {
    background-color: #0A66C2;
    color: white;
    width: 26rem;
    height: 4rem;
    border-radius: 40px;
    font-size: 1.3rem;
}

.splash-page-heading {
    color: #8F5849;
    font-size: 56px;
    font-weight: 200;
}

.splash-page-image {
    width: 43rem;
    margin-right: 5rem;
}

.splash-button-container {
    display: flex;
    flex-direction: column;
    gap: 3rem
}
