.user-info-box-container {
    border: 1px solid black;
    height: 35rem;
    width: 100rem;
    /* display: inline-block */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 40px;
    background-color: white;
}

.user-info-profile-image {
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    object-fit:fill;
    border: 3px solid white;
    padding-top: 15px
}

.user-info-name {
    font-size: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.user-info-about-me {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(128, 128, 128)
}

.user-info-location {
    color: rgb(0, 0, 0);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
